{% extends "search/base.html" %}
{% load static %}
{% block head %}
<style>
    header.masthead4 {
  background: linear-gradient(to bottom, rgba(196, 85, 37, 0.7) 0%, rgba(196, 85, 37, 0.7) 100%), url("{{ orig_product.image_url }}");
  padding-top: 5rem;
  padding-bottom: calc(10rem - 4.5rem);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
</style>
{% endblock %}
{% block content %}
<header class="masthead4 mw-100 m-0 row align-items-center justify-content-center">
    <div class="text-white p-2">

            <h1 class="text-center white-text">{{ orig_product.name|title }}</h1>

            </div>
</header>
<content class="row m-0 justify-content-center bg-biscuit">
            
                    
            {% for s in substitutions %}
            <div class="card bg-caramel col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6 m-3 p-0 text-center text-moules">
                <h3 class="rounded-circle nutri-icon nutri-grade-{{ s.nutriscore|lower }}">{{ s.nutriscore|upper }}</h3>
                <div class="img-product-list-div">
                <a href="/product/{{ s.id }}"><img class="card-img-top" src="{{ s.image_url }}" alt="{{ s.name }} front view"></a>
                </div>
                <div class="card-body row align-items-end">
                    <a class="text-moules col" href="/product/{{ s.id }}"><h6 class="card-title">{{ s.name }}</h6></a>
                    {% if user.is_authenticated %}
                        <form method="POST" class="row" action="/account/substitutions/{{ s.id }}/save/">{% csrf_token %}<button class="card-text text-moules btn" type="submit"><i class="fas fa-save"></i> Enregistrer dans mes produits</button></form>
                    {% else %}
                        <div class="row">
                            <a class="text-moules" href="/account/?next=/product/{{ orig_product.id }}/substitutions/">Identifiez-vous pour sauvegarder</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        
    
</content>
{% endblock %}
