{% extends 'search/base.html' %}

{% block title %}
    <title>Inscription</title>
{% endblock %}

{% block content %}
<header class="masthead2">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="login">

                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>

                {% endif %}
                    <h2>Créer un compte</h2>

            <form method="post" class="d-flex align-items-center flex-column">
    
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                     <tr>
                        <td></td>
                        <td><input type="submit" name="submit" value="S'enregistrer" class="btn btn-rooibos"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</header>
{% endblock %}
