{% extends "search/base.html" %}
{% load static %}
{% block head %}
<style>
    header.masthead4 {
  background: linear-gradient(to bottom, rgba(196, 85, 37, 0.7) 0%, rgba(196, 85, 37, 0.7) 100%), url("{{ orig_product.image_url }}");
  padding-top: 5rem;
  padding-bottom: calc(10rem - 4.5rem);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
</style>
{% endblock %}

{% block content %}
<header class="masthead4 mw-100 m-0 row align-items-center justify-content-center">
    <div class="text-white p-2">
        <h1 class="text-center white-text">{{ orig_product.name|title }}</h1>
    </div>
</header>

<content class="row m-0 justify-content-center bg-biscuit">
    {% for s in substitutions %}
        <div class="bg-caramel col-lg-3 col-10 m-3 container text-moules">
            <h3 class="rounded-circle text-center nutri-icon nutri-grade-{{ s.nutriscore|lower }}">{{ s.nutriscore|upper }}</h3>
            <div class="row pb-1">
                <a class="col-12 p-0" href="/product/{{ s.id }}">
                    <img class="card-img-top" src="{{ s.image_url }}" alt="{{ s.name }} front view">
                </a>
            </div>
            <div class="row text-center">
                <div class="col">
                    <a class="text-moules" href="/product/{{ s.id }}">
                        <h6 class="card-title">{{ s.name }}</h6>
                    </a>
                </div>
            </div>
                {% if user.is_authenticated %}
                    <div class="row text-center">
                        <div class="col">
                            <form method="POST" action="/account/substitutions/{{ s.id }}/save/">
                                {% csrf_token %}
                                <button class="card-text text-moules btn" type="submit"><i class="fas fa-save"></i> Enregistrer dans mes produits</button>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <div class="row text-center">
                        <div class="col">
                            <a class="text-moules" href="/account/?next=/product/{{ orig_product.id }}/substitutions/">Identifiez-vous pour sauvegarder</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <div class="pagination col-12">
        <span class="step-links text-moules col-12 text-center">
            {% if page_obj.has_previous %}
                <a class="text-moules" href="?page=1">&laquo; première</a>
                <a class="text-moules" href="?page={{ page_obj.previous_page_number }}">précédent</a>
            {% endif %}

            <span class="current h6">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a class="text-moules" href="?page={{ page_obj.next_page_number }}">suivant</a>
                <a class="text-moules" href="?page={{ page_obj.paginator.num_pages }}">dernière &raquo;</a>
            {% endif %}
        </span>
    </div>
    
</content>
{% endblock %}
