{% extends "search/base.html" %}
{% load static %}

{% block head %}
    <title>Mes substitutions</title>
{% endblock %}

{% block content %}
    <header class="masthead3 mw-100 m-0 row align-items-center justify-content-center">
        <div class="text-white p-2">
            <h3 class="text-center">Mes substitutions</h3>
            <h4 class="d-none d-sm-block d-print-block">Produits de substitutions sauvegardés</h4>
        </div>
    </header>
    <content class="row m-0 justify-content-center bg-biscuit">
        {% for substitution in substitutions %}
            <div class="bg-caramel col-lg-3 col-10 m-3 container text-moules">
                <h3 class="rounded-circle text-center nutri-icon nutri-grade-{{ substitution.substitution.nutriscore|lower }}">{{ substitution.substitution.nutriscore|upper }}</h3>
                <div class="row pb-1">
                    <a class="p-0 col-12" href="/product/{{ substitution.substitution.id }}">
                        <img class="card-img-top" src="{{ substitution.substitution.image_url }}" alt="{{ substitution.substituion.name }} front view">
                    </a>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <a class="text-moules" href="/product/{{ substitution.substitution.id }}">
                            <h6 class="card-title">{{ substitution.substitution.name }}</h6>
                        </a>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <form method="POST" action="{{ substitution.id }}/delete/">
                            {% csrf_token %}
                            <button class="card-text text-moules btn" type="submit">
                                <i class="fas fa-trash-alt"></i> Supprimer de mes produits
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </content>
{% endblock %}





