@charset "UTF-8";

:root {
  --rooibos: #C45525;
  --moules: #345A61;
  --rigolo: #86EBE6;
  --caramel: #DE9440;
  --biscuit: #E8A75D;
  --a_nutriscore: #048141;
  --b_nutriscore: #85bb2e;
  --c_nutriscore: #fecb01;
  --d_nutriscore: #ee8101;
  --e_nutriscore: #e63e11;
}


body {
  font-family: "Scope One", sans-serif;
  color: white;
}

.nutri-grade-a {
  background-color: var(--a_nutriscore);
}

.nutri-grade-b {
  background-color: var(--b_nutriscore);
}

.nutri-grade-c {
  background-color: var(--c_nutriscore);
}

.nutri-grade-d {
  background-color: var(--d_nutriscore);
}

.nutri-grade-e {
  background-color: var(--e_nutriscore);
}

.nutri-icon {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-weight: bolder;
  right: -1rem;
  top: -1rem;
  position: absolute;
  z-index: 1;
}


content > div.card {
  max-width: 13rem;
  min-width: 13rem;
}

img.card-img-top {
    max-height: 250px;
    object-fit: cover;
}

.img-product-list-div {
  height: 100px;
  line-height: 100px;
}

.form-control.index {
  height: 38px;
}

}
h1, h2, h3, h4, h5, h6 {
 font-family: "Open Sans", sans-serif; 
}

a {
  color: var(--caramel);
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: var(--rooibos);
  text-decoration: underline;
}

.btn-rooibos {
  color: white;
  background-color: var(--rooibos);
  border-color: var(--rooibos);
}

.btn-rooibos:hover {
  color: white;
  background-color: var(--moules);
  border-color: var(--moules);
}

.bg-moules {
  background-color: var(--moules);
}

.bg-caramel {
  background-color: var(--caramel);
}

.bg-biscuit {
  background-color: var(--biscuit);
}

.text-moules {
  color: var(--moules);
}
.text-moules-75 {
  color: rgba(52, 90, 97, 0.75);
}

hr.divider.border-moules {
  border-color: var(--moules);
}

.show#navbarResponsive, .collapsing#navbarResponsive, .light-white-background-rounded {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  margin-top: 1rem;
}
.text-rooibos {
  color: var(--rooibos) !important;
}

hr.divider {
  border-color: var(--rooibos);
}

#mainNav.navbar-scrolled .navbar-brand {
  color: var(--rooibos);
}
#mainNav.navbar-scrolled .navbar-brand:hover {
  color: var(--moules);
}
#mainNav.navbar .navbar-nav .nav-item .nav-link {
  color: var(--rooibos);
}
#mainNav.navbar .navbar-nav .nav-item .nav-link:hover {
  color: var(--moules);
}


@media (min-width: 768px) {
  .show#navbarResponsive, .collapsing#navbarResponsive {
  background-color: rgba(255, 255, 255, 0);
  }
/*  .text-rooibos {
    color: var(--rooibos);
  }
  
  hr.divider {
    border-color: var(--rooibos);
  }*/
}

.form-control {
  height: 30px;
}


header.masthead2 {
  background: linear-gradient(to bottom, rgba(196, 85, 37, 0.4) 0%, rgba(196, 85, 37, 0.4) 100%), url("/static/img/kawin-harasai.jpg");
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead3 {
  background: linear-gradient(to bottom, rgba(196, 85, 37, 0.7) 0%, rgba(196, 85, 37, 0.7) 100%), url("/static/img/my-subsitutions-header.png");
  padding-top: 5rem;
  padding-bottom: calc(10rem - 4.5rem);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead5 {
  background: linear-gradient(to bottom, rgba(196, 85, 37, 0.5) 0%, rgba(196, 85, 37, 0.5) 100%), url("/static/img/beurre.jpg");
  padding-top: 5rem;
  padding-bottom: calc(10rem - 4.5rem);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead2 h1 {
  font-size: 2.25rem;
}

@media (min-width: 600px) {
  header.masthead2 {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead2 p {
    font-size: 1.15rem;
  }
  header.masthead2 h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead2 h1 {
    font-size: 3.5rem;
  }
}
